#!/usr/bin/env nu

let key = ("~/.config/chezmoi/key.txt" | path expand)
if not ($key | path exists) {
    mkdir ("~/.config/chezmoi" | path expand)
    chezmoi age decrypt --output $key --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    if ($nu.os-info.name != "windows") {
        chmod 600 $key
    }
}
